@page
@model Tabby_Docker.Pages.Bookmarks.IndexModel
@{
    ViewData["Title"] = "Tabby";
}

<div class="text-center">
    <!--<h1 class="display-4">Message of the Day</h1>-->
    <p><a asp-page="./Bookmarks/Create"><img src="~/Images/plus-circle.svg" style="width:20px;" /></a> What have you saved today?</p> 



    @foreach (var item in Model.Bookmark.Reverse())
    {
        <div class="grid-container">
            <div class="grid-item">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title">
                            <a href="@Html.DisplayFor(modelItem => item.URL)">
                                <img src="~/Images/external-link.svg" alt="Open Link" style="float:right;width:20px;height:20px;" />
                            </a>
                            <b>
                                @Html.DisplayFor(modelItem => item.Title)
                            </b>
                        </div>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Description) </p>
                        <div class="card-link"><a href="@Html.DisplayFor(modelItem => item.URL)">Source: @Html.DisplayFor(modelItem => item.SiteName) </a></div>
                        <div class="card-footer text-muted">
                            <a asp-page="./Bookmarks/Edit" asp-route-id="@item.ID"><img src="~/Images/edit-3.svg" alt="Edit Bookmark" style="float:left;width:20px;height:20px;" /></a> <small class="text-muted">@Html.DisplayFor(modelItem => item.DateAdded)</small> <a asp-page="./Bookmarks/Delete" asp-route-id="@item.ID"><img src="~/Images/trash-2.svg" alt="Delete Bookmark" style="float:right;width:20px;height:20px;" /></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }



</div>
